.navbar {
    background-color: #0057FF;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 10px 20px;
}

.navbar-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu {
    cursor: pointer;
}


.logo {
    width: 100%;
    height: 30px;
}

.navbar-box span {
    font-weight: bold;
}