.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-row {
  display: flex;
  flex-grow: 1;
}

.layout-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 80px;
}

.content {
  flex-grow: 1;
}